/* -------------------------------------------------------------------------------
  Global style
------------------------------------------------------------------------------- */
.wrapper {
    width: max-content;
    width: -moz-max-content;
    margin: 0 auto;
}

input[type="text"] {
    margin: 10px 0;
    padding: 5px;
}

input:focus {
    outline: none;
}

.canvas-history-split {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.canvas-history-split > .wrapper {
    margin: 0;
}

/* -------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------- */
header {
    width: 100%;
    background-color: #339;
    padding: 10px;
    margin-bottom: 30px;
}

header > h1 {
    width: max-content;
    width: -moz-max-content;
    margin: auto;
    color: white;
    font-size: 28px;
}

footer {
    width: 100%;
    background-color: #eee;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
}

footer small {
    display: inline-block;
    margin: 40px auto;
}

/* -------------------------------------------------------------------------------
  Team-name input
------------------------------------------------------------------------------- */
#team-name-inputs {
    display: flex;
    justify-content: space-between;
    height: 57px;
}

#team-name-inputs input {
    font-size: 20px;
    width: 16em;
    outline: none;
}

#teamA-name {
    text-align: left;
    border: none;
    border-bottom: 3px solid #CB2400;
}

#teamB-name {
    text-align: right;
    border: none;
    border-bottom: 3px solid #236CCA;
}

/* -------------------------------------------------------------------------------
  Elements inside canvas screen
------------------------------------------------------------------------------- */
#canvas-wrapper {
    position: relative;
}

#main-canvas {
    border: 1px solid #c0c0c0;
}

/* -------------------------------------------------------------------------------
  History table
------------------------------------------------------------------------------- */

#op-history-title {
    height: 57px;
    font-size: 24px;
    padding: 10px 0;
}

table#op-history {
    width: 500px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
}

table#op-history thead tr {
    background-color: #eee;
    border-bottom: solid 2px #999;
}

table#op-history tbody tr {
    border-bottom: solid 1px #ccc;
}

table#op-history td, table#op-history th {
    padding: 10px;
}


/* TurnCount */
table#op-history tr th:nth-of-type(1),
table#op-history tr td:nth-of-type(1) {
    text-align: center;
}

/* TeamID */
table#op-history tr th:nth-of-type(2),
table#op-history tr td:nth-of-type(2) {
    text-align: center;
}

/* Operation */
table#op-history tr th:nth-of-type(3),
table#op-history tr td:nth-of-type(3) {
    text-align: left;
}

/* Result */
table#op-history tr th:nth-of-type(4),
table#op-history tr td:nth-of-type(4) {
    text-align: left;
}

table#op-history .teamA {
    background-color: #ffe7e7;
}

table#op-history .teamB {
    background-color: #e1f4ff;
}

.cell-code {
    font-family: monospace;
    padding: 1px 8px;
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #333;
}


/* -------------------------------------------------------------------------------
  Utility
------------------------------------------------------------------------------- */
.m-auto {
    margin: auto;
}

/* ------------------------------------------------------------------------------- */

@media (max-width: 1600px) {
    .canvas-history-split {
        flex-direction: column;
    }

    .canvas-history-split > .wrapper {
        margin: 0 auto;
    }

    table#op-history {
        width: 960px;
    }
}
