/* -------------------------------------------------------------------------------
  Global style
------------------------------------------------------------------------------- */
.wrapper {
    width: fit-content;
    margin: 0 auto;
}

input[type="text"] {
    margin: 10px 0;
    padding: 5px;
}

/* -------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------- */
header {
    width: 100%;
    background-color: #339;
    padding: 10px;
    margin-bottom: 30px;
}

header > h1 {
    width: fit-content;
    margin: auto;
    color: white;
    font-size: 28px;
}

/* -------------------------------------------------------------------------------
  Team-name input
------------------------------------------------------------------------------- */
#team-name-inputs {
    display: flex;
    justify-content: space-between;
}

#team-name-inputs input {
    font-size: 20px;
    width: 16em;
}

#teamB-name {
    text-align: right;
}

/* -------------------------------------------------------------------------------
  Elements inside canvas screen
------------------------------------------------------------------------------- */
#canvas-wrapper {
    position: relative;
}

/* -------------------------------------------------------------------------------
 Canvas bottom controller
------------------------------------------------------------------------------- */
#canvas-bottom-controller {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

/* -------------------------------------------------------------------------------
  Utility
------------------------------------------------------------------------------- */
.m-auto {
    margin: auto;
}

