/* -------------------------------------------------------------------------------
  Global style
------------------------------------------------------------------------------- */
.wrapper {
    width: fit-content;
    margin: 0 auto;
}

input[type="text"] {
    margin: 10px 0;
    padding: 5px;
}

input:focus {
    outline: none;
}

/* -------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------- */
header {
    width: 100%;
    background-color: #339;
    padding: 10px;
    margin-bottom: 30px;
}

header > h1 {
    width: fit-content;
    margin: auto;
    color: white;
    font-size: 28px;
}

/* -------------------------------------------------------------------------------
  Team-name input
------------------------------------------------------------------------------- */
#team-name-inputs {
    display: flex;
    justify-content: space-between;
}

#team-name-inputs input {
    font-size: 20px;
    width: 16em;
    outline: none;
}

#teamA-name {
    text-align: left;
    border: none;
    border-bottom: 3px solid #CB2400;
}

#teamB-name {
    text-align: right;
    border: none;
    border-bottom: 3px solid #236CCA;
}

/* -------------------------------------------------------------------------------
  Elements inside canvas screen
------------------------------------------------------------------------------- */
#canvas-wrapper {
    position: relative;
}

#main-canvas {
    border: 1px solid #c0c0c0;
}

/* -------------------------------------------------------------------------------
  Utility
------------------------------------------------------------------------------- */
.m-auto {
    margin: auto;
}

